<div class="container mx-auto my-10"> 
    <div class="text-center">I'm sorry but you don't have access to this page.</div>
    <div class="text-center py-5" id="redirect">Redirecting in 5 seconds.</div>
</div>

<script> 

  var seconds = 4
  setInterval(function(){ 
      $("#redirect").html("Redirecting in " + seconds + " seconds.")
        seconds-- 
        if (seconds === 1) { 
        setTimeout(function() {
        window.location.href = "/" 
        },1000)}
    },1000)
    
</script>