<div class="container mx-auto">
    <div class="flex mb-4">
        <!-- Content --> 
        <div class="w-4/6 mt-5 rounded-tl-lg">
            <div class="w-full text-2xl pb-5">
                <h2>Contact Details</h2>
            </div>

            <div class="flex pb-2">
                <div class="w-1/6 pr-2">
                    <label> 
                        Name
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="realName" type="text" placeholder="Jane Doe">
                    </div>
                </div>
            </div>

            <div class="flex pb-2">
                <div class="w-1/6 pr-2">
                    <label> 
                        Email
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="email" type="text" placeholder="test@gmail.com">
                    </div>
                </div>
            </div>

            <div class="w-full text-2xl py-5">
                <h2>Profile</h2>
            </div>

            <div class="flex py-1">
                <div class="w-1/6 pr-2">
                    <label> 
                        Image
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="profileImage" type="text" placeholder="https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg">
                    </div>
                </div>
            </div>

            <div class="flex py-1 fb">
                <div class="w-1/6 pr-2">
                    Social Media
                </div>

                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <div class="w-full relative">
                            <img id="facebookHandle" class="rounded" src="/images/facebook.png" />
                            <input class="appearance-none border border-gray-200 rounded w-full py-2 px-2 text-gray-900 leading-tight" id="socialFacebook" type="text">
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex py-1 twitter">
                <div class="w-1/6 pr-2">

                </div>

                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <div class="w-full relative">
                            <img id="twitterHandle" src="/images/twitter.png" />
                            <input class="appearance-none border border-gray-200 rounded w-full py-2 px-5 text-gray-900 leading-tight" id="socialTwitter" type="text">
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex py-1 youtube">
                <div class="w-1/6 pr-2">

                </div>

                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <div class="w-full relative">
                            <img id="youtubeHandle" src="/images/youtube.png" />
                            <input class="appearance-none border border-gray-200 rounded w-full py-2 px-5 text-gray-900 leading-tight" id="socialYoutube" type="text">
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex py-1">
                <div class="w-1/6 pr-2">
                    <label> 
                        Band name
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="artistName" type="text" placeholder="Jane & the Does">
                    </div>
                </div>
            </div>

            <div class="flex py-1">
                <div class="w-1/6 pr-2">
                    <label> 
                        Genre
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="artistGenre" type="text" placeholder="Instrumental">
                    </div>
                </div>
            </div>

            <div class="flex py-1">
                <div class="w-1/6 pr-2">
                    <label> 
                        Demo
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="youtubeDemo" type="text" placeholder="https://www.youtube.com/watch?v=">
                    </div>
                </div>
            </div>

            <div class="flex py-1">
                <div class="w-1/6 pr-2">
                    <label> 
                        Demo
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="spotifyDemo" type="text" placeholder="https://www.youtube.com/watch?v=">
                    </div>
                </div>
            </div>

            <div class="flex py-1">
                <div class="w-1/6 pr-2">
                    <label> 
                        Audience
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <div class="inline-block relative w-full">
                            <select class="block appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="artistAudience">
                                <option selected disabled>--</option>
                                <option>All ages</option>
                                <option>18+</option>
                            </select>
                            
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-900">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>

            <div class="flex py-1">
                <div class="w-1/6 pr-2">
                    <label> 
                        Pay Rate
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="artistPay" type="text" placeholder="100">
                    </div>
                </div>
            </div>

            <div class="flex py-1">
                <div class="w-1/6 pr-2">
                    <label> 
                        
                    </label>
                </div>
                <div class="w-5/6 pr-5 pb-5 text-md">
                    <div class="flex p-1 relative">
                        Negotiable &nbsp;
                        <input class="leading-relaxed absolute" id="rateCheckBox" type="checkbox">
                    </div>
                </div>
            </div>

            <div class="flex pr-1">
                <div class="w-full py-5 mr-4">
                    <button class="bg-purple-500 hover:bg-blue-700 text-white w-full py-2 px-4 rounded" id="profileSubmit">
                        Submit
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="w-2/6 border-top mt-5 rounded-tr-lg p-4 h-56">
            
        </div>
    </div>
</div>