<div class="container mx-auto">
    <ul class="flex border-b m-3 pt-8 pb-3">
        <li class="-mb-px mr-1">
            <a class="bg-white inline-block border-l border-t border-r hover:text-purple-800 rounded-t py-2 px-4 text-purple-700 font-semibold tab activeTab" id="profileTab">Profile Information</a>
        </li>
        <li class="mr-1">
            <a class="bg-white inline-block py-2 px-4 text-purple-500 hover:text-purple-800 font-semibold tab" id="contactTab">Contact Information</a>
        </li>        
    </ul>   
    
    <div id="profileInfo" class="active">
        <div class="flex">
            <div class="w-1/6 success-profile text-green-500 text-sm hidden"><em>Profile updated!</em></div>
        </div>
        <div class="flex my-8">
            <div class="w-4/6 mt-5 rounded-tl-lg">
                <div class="flex pb-1">
                    <div class="w-2/6 pr-2">
                        <label> 
                            Image <span class="ml-2 text-xs py-1 px-2 bg-gray-200 rounded">Required</span>
                        </label>
                    </div>
                    <div class="w-5/6 pr-5">
                        <div class="flex">
                            <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="profileImage" type="text">
                        </div>
                    </div>
                </div>

                <div class="flex py-1 fb">
                    <div class="w-2/6 pr-2">
                        Social Media 
                    </div>

                    <div class="w-5/6 pr-5">
                        <div class="flex">
                            <div class="w-full relative">
                                <img id="facebookHandle" class="rounded" src="/images/facebook.png" />
                                <input class="appearance-none border border-gray-200 rounded w-full py-2 px-10 text-gray-900 leading-tight" id="socialFacebook" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex py-1 twitter">
                    <div class="w-2/6 pr-2">

                    </div>

                    <div class="w-5/6 pr-5">
                        <div class="flex">
                            <div class="w-full relative">
                                <img id="twitterHandle" src="/images/twitter.png" />
                                <input class="appearance-none border border-gray-200 rounded w-full py-2 px-10 text-gray-900 leading-tight" id="socialTwitter" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex py-1 youtube">
                    <div class="w-2/6 pr-2">

                    </div>

                    <div class="w-5/6 pr-5">
                        <div class="flex">
                            <div class="w-full relative">
                                <img id="youtubeHandle" src="/images/youtube.png" />
                                <input class="appearance-none border border-gray-200 rounded w-full py-2 px-10 text-gray-900 leading-tight" id="socialYoutube" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex py-1">
                    <div class="w-2/6 pr-2">
                        <label> 
                            Artist type <span class="ml-2 text-xs py-1 px-2 bg-gray-200 rounded">Required</span>
                        </label>
                    </div>
                    <div class="w-5/6 pr-5">
                        <div class="flex">
                            <div class="inline-block relative w-full">
                                <select class="block appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="artistType">
                                    <option selected disabled>--</option>
                                    <option>Artist</option>
                                    <option>Music</option>
                                    <option>Performance Art</option>
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-900">
                                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex py-1">
                    <div class="w-2/6 pr-2">
                        <label> 
                            Genre 
                        </label>
                        <span class="ml-2 text-xs py-1 px-2 bg-gray-200 rounded">Required</span>
                    </div>
                    <div class="w-5/6 pr-5">
                        <div class="flex">
                            <div class="inline-block relative w-full">
                                <select class="block appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="artistGenre">
                                    <option selected disabled>--</option>
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-900">
                                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex py-1">
                    <div class="w-2/6 pr-2">
                        <label> 
                            Band name <span class="ml-2 text-xs py-1 px-2 bg-gray-200 rounded">Required</span>
                        </label>
                    </div>
                    <div class="w-5/6 pr-5">
                        <div class="flex">
                            <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="artistName" type="text" placeholder="Jane & the Does">
                        </div>
                    </div>
                </div>

                

                <div class="flex py-1">
                    <div class="w-2/6 pr-2">
                        <label> 
                            Youtube Demo
                        </label>
                    </div>
                    <div class="w-5/6 pr-5">
                        <div class="flex">
                            <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="youtubeDemo" type="text" placeholder="https://www.youtube.com/watch?v=CDE1jf4_VIY">
                        </div>
                    </div>
                </div>

                <div class="flex py-1">
                    <div class="w-2/6 pr-2">
                        <label> 
                            Audience <span class="ml-2 text-xs py-1 px-2 bg-gray-200 rounded">Required</span>
                        </label>
                    </div>
                    <div class="w-5/6 pr-5">
                        <div class="flex">
                            <div class="inline-block relative w-full">
                                <select class="block appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="artistAudience">
                                    <option selected disabled>--</option>
                                    <option value="All Ages">All ages</option>
                                    <option value="18+">18+</option>
                                </select>
                                
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-900">
                                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                </div>
                            </div>                   
                        </div>
                    </div>
                </div>

                <div class="flex py-1">
                    <div class="w-2/6 pr-2">
                        <label> 
                            Pay Rate <span class="ml-2 text-xs py-1 px-2 bg-gray-200 rounded">Required</span>
                        </label>
                    </div>
                    <div class="w-5/6 pr-5">
                        <div class="flex">
                            <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="artistPay" type="text" placeholder="100">
                        </div>
                    </div>
                </div>

                <div class="flex py-1">
                    <div class="w-2/6 pr-2">
                        <label> 
                            
                        </label>
                    </div>
                    <div class="w-5/6 pr-5 pb-5 text-md">
                        <div class="flex p-1 relative">
                            Negotiable &nbsp;
                            <input class="leading-relaxed absolute" id="rateCheckBox" type="checkbox">
                        </div>
                    </div>
                </div>

                <div class="flex pr-1">
                    <div class="w-full py-5 mr-4">
                        <button class="bg-purple-500 hover:bg-blue-700 text-white w-2/6 py-2 px-4 rounded" id="profileSubmit">
                            Save
                        </button>
                        <span class="submitProfileError text-sm text-red-500 ml-2"></span>
                    </div>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="w-2/6 border-top p-4">
                <div class="bg-yellow-200 rounded p-5">POC ROCK will use this information to <a href="/organizer">generate a profile</a> for organizers to see and book you for events.</div>
            </div>
        </div>
    </div>

    <div id="contactInfo" class="hidden">
        <div class="flex">
            <div class="w-1/6 success-contact text-green-500 text-sm hidden"><em>Contact updated!</em></div>
        </div>
        <div class="flex my-8">
            <div class="w-4/6 mt-5 rounded-tl-lg">
                <div class="flex pb-2">
                    <div class="w-2/6 pr-2">
                        <label> 
                            First Name <span class="ml-2 text-xs py-1 px-2 bg-gray-200 rounded">Required</span>
                        </label>
                    </div>
                    <div class="w-5/6 pr-5">
                        <div class="flex">
                            <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" type="text" placeholder="Jane" id="contactName">
                        </div>
                    </div>
                </div>

                <div class="flex pb-2">
                    <div class="w-2/6 pr-2">
                        <label> 
                            Email <span class="ml-2 text-xs py-1 px-2 bg-gray-200 rounded">Required</span>
                        </label>
                    </div>
                    <div class="w-5/6 pr-5">
                        <div class="flex">
                            <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" type="text" placeholder="artist@email.com" id="contactEmail">
                        </div>
                    </div>
                </div>
                <div class="flex py-5">
                    <div class="w-full py-5 mr-4">
                        <button class="bg-purple-500 hover:bg-blue-700 text-white w-2/6 py-2 px-4 rounded" id="contactSubmit">
                            Save
                        </button>
                        <span class="submitContactError text-sm text-red-500 ml-2"></span>
                    </div>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="w-2/6 border-top p-4">
                <div class="bg-yellow-200 rounded p-5">This information will be visible to organizers.</div>
            </div>
        </div>
    </div> 
</div>