/* main template */ 
html {
  min-height: 100%;
  position: relative;
  margin: 0;
}

body {
  margin-bottom: 184px;
  overflow-x: auto;
  min-height: 100%;
  margin: 0
}

header a { 
  color: #9F7AEA;
}

footer {
  bottom: 0;
  height: 184px;
  position: absolute;
  width: 100%;
}

.list-group-item {
  line-height: 2.5;
}

/* Profile */
#rateCheckBox { 
  left: 100px;
  top: 8px;
}

#profileHeader { 
  height: 400px;
}

.social, #modalClose {
  cursor: pointer;
}

#twitterHandle, #facebookHandle, #youtubeHandle { 
  left: 8px; 
  position: absolute;
  top: 9px; 
  width: 21px; 
}

.socialButtons img { 
  width: 40px;
}

/* need to do a link thing  */
/* unvisited link */
a:link {
  color: #44337A;
}

/* visited link */
a:visited {
  color: #553C9A;
}

/* mouse over link */
a:hover {
  color: #38B2AC;
}

/* selected link */
a:active {
  color: #805AD5;
}

/* FOOTER */
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}
/* INDEX PAGE */

.gradient {
  background: linear-gradient(90deg, #553C9A 0%, #B2F5EA 100%);
}