/* main template */ 
html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 184px;
  overflow-x: auto;
}

header a { 
  color: #9F7AEA;
}

footer {
  bottom: 0;
  height: 184px;
  position: absolute;
  width: 100%;
}

.list-group-item {
  line-height: 2.5;
}

/* Profile */
#rateCheckBox { 
  left: 100px;
  top: 8px;
}

#profileHeader { 
  height: 400px;
}

.social, #modalClose {
  cursor: pointer;
}

#twitterHandle, #facebookHandle, #youtubeHandle { 
  left: 8px; 
  position: absolute;
  top: 9px; 
  width: 21px; 
}

.socialButtons img { 
  width: 40px;
}